{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="MyMusic">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-gv0oNvwnqzF6ULI9TVsSmnULNb3zasNysvWwfT/s4l8k5I+g6oFz9dye0wg3rQ2Q" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static "styles/main.css"  %}">
    <title>My Music</title>
</head>

<body>
    <div class="container">
        <div class="jumbotron">
            <h1>MyMusic</h1>
            <p>
                Esta aplicación permite a los usuario almacenar y listar sus canciones .
            </p>
        </div>
        <div class="row" ng-view>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/localforage/1.4.3/localforage.nopromises.min.js"></script>
    <script src="//js.pusher.com/3.2/pusher.min.js"></script>
    <!-- Modules -->
    <script type="text/javascript" src="{% static "scripts/main.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/consumer.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/storage.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/config.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/index-view.component.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/songs/songs.module.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/home/home.module.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/home/home-view.component.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/home/songs-view.component.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/home/songs-list.component.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/home/song-form.component.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/home/playlist-form.component.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/home/playlist-view.component.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/songs/playlist-detail.component.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/songs/song-detail.component.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/songs/songs-list.component.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/access/access.module.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/access/login-form.component.js" %}"></script>
    <script type="text/javascript" src="{% static "scripts/app/access/register-form.component.js" %}"></script>
</body>

</html>
